<h2><%= @band.name %></h2>
<a href='<%=bands_url%>'>Show all bands!</a><br><br>
<a href='<%=edit_band_url%>'>Edit the band!</a><br><br>

<form action='<%=band_url(@band)%>' method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type='hidden' name='_method' value='delete'>
    <input type="submit" value="Delete Band">
</form>

